In [126]:
import pandas as pd
import json
import re
import numpy as np
import import_data

In [4]:
businesses = import_data.import_businesses()

In [5]:
businesses.columns.values

array(['attributes', 'business_id', 'categories', 'city', 'full_address',
       'hours', 'latitude', 'longitude', 'name', 'neighborhoods', 'open',
       'review_count', 'stars', 'state', 'type'], dtype=object)

In [10]:
attributes = businesses['attributes'].apply(pd.Series)

In [15]:
attributes.count().order(ascending=False)

Accepts Credit Cards         45072
Price Range                  41694
Parking                      37967
Good for Kids                25371
Outdoor Seating              23033
Good For Groups              22406
Alcohol                      20457
Attire                       20390
Take-out                     20300
Delivery                     19924
Takes Reservations           19801
Wheelchair Accessible        19527
Has TV                       19338
Good For                     19288
Waiter Service               18863
Ambience                     18547
Noise Level                  18519
Wi-Fi                        17898
Caters                       13116
By Appointment Only           7922
Smoking                       4088
Happy Hour                    3728
Music                         3700
Coat Check                    3699
Dogs Allowed                  3591
Good For Dancing              3581
Drive-Thru                    2569
Good For Kids                 2345
BYOB/Corkage                  1315
BYOB                           866
Corkage                        655
Accepts Insurance              458
Order at Counter               384
Open 24 Hours                  334
Hair Types Specialized In      326
Ages Allowed                   235
Dietary Restrictions           175
Payment Types                   42
dtype: int64

In [92]:
businesses['with_price'] = businesses.apply(lambda x: 'Price Range' in x.attributes.keys(), axis=1)

In [115]:
cities = pd.DataFrame()

In [116]:
cities['all'] = pd.pivot_table(businesses, values='business_id', columns='city', aggfunc='count').order(ascending=False)

In [118]:
cities['with_price'] = pd.pivot_table(businesses[businesses['with_price'] == True], values='business_id', columns='city', aggfunc='count').order(ascending=False)

In [120]:
cities['rate'] = cities['with_price'] / cities['all']

In [124]:
cities[cities['all'] > 1000]['rate'].order(ascending=False)

city
Montréal      0.852941
Montreal      0.776734
Edinburgh     0.768393
Pittsburgh    0.766153
Madison       0.756542
Charlotte     0.736979
Glendale      0.669572
Las Vegas     0.660099
Scottsdale    0.644714
Tempe         0.644376
Chandler      0.633101
Phoenix       0.625089
Henderson     0.606103
Mesa          0.605454
Gilbert       0.597783
Name: rate, dtype: float64

In [132]:
cities[cities['rate'] != 1]['rate'].mean()

0.66234478540388764

In [129]:
cities[cities['with_price'] > 1000]['with_price'].order(ascending=False)

city
Las Vegas     8978
Phoenix       5257
Charlotte     3113
Scottsdale    2604
Edinburgh     2329
Pittsburgh    2087
Montréal      1595
Tempe         1455
Mesa          1421
Madison       1330
Henderson     1291
Chandler      1182
Montreal      1075
Name: with_price, dtype: float64