In [2]:
import pandas as pd
import json
import re
import numpy as np
import import_data

In [3]:
businesses = import_data.import_businesses()

In [4]:
businesses.columns.values

array(['attributes', 'business_id', 'categories', 'city', 'full_address',
       'hours', 'latitude', 'longitude', 'name', 'neighborhoods', 'open',
       'review_count', 'stars', 'state', 'type'], dtype=object)

In [5]:
attributes = businesses['attributes'].apply(pd.Series)

In [6]:
attributes.count().order(ascending=False)

Accepts Credit Cards         45072
Price Range                  41694
Parking                      37967
Good for Kids                25371
Outdoor Seating              23033
Good For Groups              22406
Alcohol                      20457
Attire                       20390
Take-out                     20300
Delivery                     19924
Takes Reservations           19801
Wheelchair Accessible        19527
Has TV                       19338
Good For                     19288
Waiter Service               18863
Ambience                     18547
Noise Level                  18519
Wi-Fi                        17898
Caters                       13116
By Appointment Only           7922
Smoking                       4088
Happy Hour                    3728
Music                         3700
Coat Check                    3699
Dogs Allowed                  3591
Good For Dancing              3581
Drive-Thru                    2569
Good For Kids                 2345
BYOB/Corkage                  1315
BYOB                           866
Corkage                        655
Accepts Insurance              458
Order at Counter               384
Open 24 Hours                  334
Hair Types Specialized In      326
Ages Allowed                   235
Dietary Restrictions           175
Payment Types                   42
dtype: int64

In [7]:
businesses['with_price'] = businesses.apply(lambda x: 'Price Range' in x.attributes.keys(), axis=1)

In [21]:
cities = pd.DataFrame()

In [22]:
cities['all'] = businesses.groupby('city')['name'].count()

In [27]:
cities['with_price'] = businesses[businesses['with_price'] == True].groupby('city')['name'].count()

In [28]:
cities['rate'] = cities['with_price'] / cities['all']

In [34]:
cities[cities['all'] > 1000].sort(columns='rate', ascending=False)

              all  with_price      rate
city
Montréal     1870        1595  0.852941
Montreal     1384        1075  0.776734
Edinburgh    3031        2329  0.768393
Pittsburgh   2724        2087  0.766153
Madison      1758        1330  0.756542
Charlotte    4224        3113  0.736979
Glendale     1377         922  0.669572
Las Vegas   13601        8978  0.660099
Scottsdale   4039        2604  0.644714
Tempe        2258        1455  0.644376
Chandler     1867        1182  0.633101
Phoenix      8410        5257  0.625089
Henderson    2130        1291  0.606103
Mesa         2347        1421  0.605454
Gilbert      1263         755  0.597783

In [31]:
cities[cities['rate'] != 1]['rate'].mean()

0.66234478540388764

In [35]:
cities[cities['with_price'] > 1000].sort(columns='with_price', ascending=False)

              all  with_price      rate
city
Las Vegas   13601        8978  0.660099
Phoenix      8410        5257  0.625089
Charlotte    4224        3113  0.736979
Scottsdale   4039        2604  0.644714
Edinburgh    3031        2329  0.768393
Pittsburgh   2724        2087  0.766153
Montréal     1870        1595  0.852941
Tempe        2258        1455  0.644376
Mesa         2347        1421  0.605454
Madison      1758        1330  0.756542
Henderson    2130        1291  0.606103
Chandler     1867        1182  0.633101
Montreal     1384        1075  0.776734